*{
    font-family: sans-serif;
}
#menu{
   font-family: sans-serif;
   align-items: center;
   color: white;
   background-color: black; 
    /*padding: 20px 100px;*/
   align-items: center;

}
#tituo_1{
    color: white;
    padding: 25px;
    background-color: lightblue;
}
#tituo_2{
    background-color: rgb(221, 196, 7);
    padding: 25px;
    height: 25%;
    color: white;
}
#tituo_3{
    background-color: orange;
    padding: 25px;
    height: 25%;
    color: white;
}
#tituo_4{
    
    background-color: red;
    padding: 25px;
    height: 25%;
    color: white;
}

.container{
    display: grid;
    grid-template-areas: 
        "sidebar main";
    grid-template-columns: repeat (3, 1fr) ;
}

.sidebar ul li a {
    grid-column: 1/1;
    background:black;
    text-decoration: none;
    color: white;

}

